/downloader/
/errors/
/includes/
/js/
/lib/
/media/
/nbproject/
/pkginfo/
/shell/
/skin/
/var/
/app/code/core/
/app/code/community/
/app/design/install/
/app/design/adminhtml/
/app/design/frontend/base/
/app/design/frontend/default/iphone/
/app/design/frontend/default/modern/
/app/design/frontend/default/blank/
/app/etc/
/app/locale/
