<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <EC_Ipaymu>
            <version>0.1.0</version>
        </EC_Ipaymu>
    </modules>
    <global>
        <models>
            <ipaymu>
                <class>EC_Ipaymu_Model</class>
                <resourceModel>ipaymu_mysql4</resourceModel>
            </ipaymu>
            <ipaymu_mysql4>
                <class>EC_Ipaymu_Model_Mysql4</class>
                <entities>
                    <transaction>
                        <table>aluh_ipaymu_transaction</table>
                    </transaction>
                </entities>
            </ipaymu_mysql4>
        </models>
        <resources>
            <ipaymu_setup>
                <setup>
                    <module>EC_Ipaymu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ipaymu_setup>
            <ipaymu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ipaymu_read>
            <ipaymu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ipaymu_write>
        </resources>
        <blocks>
            <ipaymu>
                <class>EC_Ipaymu_Block</class>
            </ipaymu>
        </blocks>
        <helpers>
            <ipaymu>
                <class>EC_Ipaymu_Helper</class>
            </ipaymu>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ipaymu>
                <use>standard</use>
                <args>
                    <module>EC_Ipaymu</module>
                    <frontName>ipaymu</frontName>
                </args>
            </ipaymu>
        </routers>
        <layout>
            <updates>
                <ipaymu>
                    <file>ipaymu.xml</file>
                </ipaymu>
            </updates>
        </layout>
        <translate>
            <modules>
                <EC_Ipaymu>
                    <files>
                        <default>EC_Ipaymu.csv</default>
                    </files>
                </EC_Ipaymu>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <ecipaymu>
                <use>admin</use>
                <args>
                    <module>EC_Ipaymu</module>
                    <frontName>ec_ipaymu</frontName>
                </args>
            </ecipaymu>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <EC_Ipaymu>
                    <files>
                        <default>EC_Ipaymu.csv</default>
                    </files>
                </EC_Ipaymu>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <ipaymu>
                <active>0</active>
                <order_status>pending</order_status>
                <title>IPAYMU</title>
                <model>ipaymu/payment</model>
                <allowspecific>1</allowspecific>
                <specificcountry>ID</specificcountry>
            </ipaymu>
        </payment>
    </default>
</config>